
<h1><%= @survey.name %> Answers</h1>

<%= simple_form_for @survey do |f| %>
  <% @questions.each do |question| %>
    <h3><%= question.content %></h3>

    <% question.participants.uniq.each do |participant| %>
      <%= participant.name %>

      <%= f.simple_fields_for :participants, participant do |p| %>
        <%= p.input :name, collection: (participant.answers.map{|c| c.content}), as: :radio_buttons  %>
      <% end %>

    <% end %>

  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
